@page
@model MyProject_L00181476.Pages.Admin.GolfBalls.DeleteModel
@{
}
<form method="post">
    <input type="hidden" asp-for="GolfBall.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Golf Ball</h2>
        </div>

        <div class="mb-3">
            <label>Golf Ball</label>
            <div class="form-control-plaintext">@Model.GolfBall?.Name</div>
        </div>

        <div class="mb-3">
            <label>Brand</label>
            <div class="form-control-plaintext">@Model.GolfBall?.Brand?.BrandName</div>
        </div>

        <div class="mb-3">
            <label>Price</label>
            <div class="form-control-plaintext">@Model.GolfBall?.Price</div>
        </div>

    </div>
        <div class="col-3">
                <img src="@Model.GolfBall?.ImageUrl" />
        </div>
    </div>

        <div class="mb-3">
            <p class="text-danger">Are you sure you want to delete this golf ball?</p>
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
